<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/metas.css">
    <title>Document</title>
</head>
<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-4">
        <h1><a href="index.html" class="logo">Inovasse <span>Cadastros</span></a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#" ><span class=""></span> Cadastrar Metas</a>
          </li>
          <li>
            <a href="#"><span class=""></span> Criar Agrupamento</a>
          </li>
          <li>
            <a href="#" class="visualizar-cadastros-link"><span class=""></span>Visualizar Cadastros</a>
          </li>
        </ul>

        <div class="mb-5">
          <h3 class="h6 mb-3"></h3>
          <form action="" class="">
            <div class="">
              <div class="icon"><span class=""></span></div>
            </div>
          </form>
        </div>

        <div class="footer">
          
        </div>

      </div>
    </nav>

    <div id="content" class="p-4 p-md-5 pt-5">
		  <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Cadastrar Meta</h2>
          </div>
          <div class="row clearfix">
           
              <form id="metaForm"  method="POST">
                
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                  <input type="text" name="codven" placeholder="Codigo" required />
                </div>
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                    <input type="date" name="dtmeta" placeholder="Data" required />
                  </div>
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                    <input type="number" name="meta" placeholder="Valor" required />
                  </div>
        
                    <div class="input_field select_option">
                      <select name="tipometa">
                        <option>Tipo de Meta</option>
                        <option value="Vendedor">Vendedor</option>
                        <option value="Fornecedor">Fornecedor</option>
                        <option value="Família">Família</option>
                      </select>
                      <div class="select_arrow"></div>
                    </div>
                 
                <input class="button" type="submit" value="Cadastrar" />
              </form>
            </div>
          </div>
        </div>
      </div>
		</div>
  </div>

  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/popper.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script src="/scripts/main.js"></script>
  <script src="/scripts/listar.js"></script>


     
</body>
</html>


