<!DOCTYPE html>
<html>
<head>
 
</head>
<body>

  <div class="container">
    <img  class="image-logo"  src="/imagens/logotipo-inovasse.png" alt="Imagem Central" >
    <form  method="POST">
      <h2>Login</h2>
      <input type="text" placeholder="Usuário" id="name" name="name">
      <input type="password" placeholder="Senha" id="password" name="password">
      <button id="entrar" type="submit">Entrar</button>
    </form>
    <div class="register">
      <p>Não possui uma conta?</p>
      <button id="register">Cadastre-se</button>
    </div>
  </div>

  
</body>
</html>
