body{
  background-color: #ededf0;
}



.title-header {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  margin: 80px 100px;
}

.title-header h1 {
  margin: 0;
  margin-top: 100px;
}

.title-header p {
  margin-top: 30px;
}

strong {
  font-weight: bold; 
}

#plataforma{
  font-size: 45px;
}

#seguranca{
  margin-top: -20px;
}

